{
  "branches": ["main"],
  "repositoryUrl":"https://github.com/JayDamon/oaka-transaction-service.git",
  "debug": "true",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./prepare-release.sh ${nextRelease.version}"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "pom.xml",
          "CHANGELOG.md"
        ],
        "message": "release: ${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release-plus/docker",
      {
        "name": "repo.treescale.com/jaydamon/oaka-transaction-service",
        "registryUrl": "repo.treescale.com",
        "publishLatestTag": true,
        "publishMajorTag": true,
        "publishMinorTag": true
      }
    ]
  ]
}